:root {
    --gray-900: #121214;
    --gray-300: #444448;
  
    --primary-200: #fcd085;
    --primary-400: #ffbc48;
    font-size: 62.5%;
}

@page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray-900);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}
body * {
    font-family: sans-serif;
}

.box-login{
    background-color: var(--gray-300);
    padding: 100px;
    border-radius: 2rem;
    display: grid;
}
.container {
    width: clamp(100%, 50%, 240px);
    
}
form {
    width: 100%;
    height: 100%;
}
h2{
    padding: 5px 30px;
    margin-bottom: 20%;
    opacity: .9;
    color: white;
}
.submit {
    display: flex;
    justify-content: center;
}
button{
    border: none;
    width: 50%;
    padding: 15px;
    background: linear-gradient(rgb(218, 216, 216), rgb(133, 131, 131));
    border-radius: 0.80rem;
    margin-top: 10%;
    font-weight: bold;
    color: rgb(238, 230, 230);
}
button:hover{
    background-color:burlywood;
    box-shadow: 0px 10px 40px black;
}
input{
    border-radius: 0.2rem;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    text-align: center;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
